<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>/::)</string>
	<key>002</key>
	<string>/::~</string>
	<key>003</key>
	<string>/::B</string>
	<key>004</key>
	<string>/::|</string>
	<key>005</key>
	<string>/:8-)</string>
	<key>006</key>
	<string>/::&lt;</string>
	<key>007</key>
	<string>/::$</string>
	<key>008</key>
	<string>/::X</string>
	<key>009</key>
	<string>/::Z</string>
	<key>010</key>
	<string>/::&apos;(</string>
	<key>011</key>
	<string>/::-|</string>
	<key>012</key>
	<string>/::@</string>
	<key>013</key>
	<string>/::P</string>
	<key>014</key>
	<string>/::D</string>
	<key>015</key>
	<string>/::O</string>
	<key>016</key>
	<string>/::(</string>
	<key>017</key>
	<string>/:kuk</string>
	<key>018</key>
	<string>/:--b</string>
	<key>019</key>
	<string>/::Q</string>
	<key>020</key>
	<string>/::T</string>
	<key>021</key>
	<string>/:,@P</string>
	<key>022</key>
	<string>/:,@-D</string>
	<key>023</key>
	<string>/::d</string>
	<key>024</key>
	<string>/:,@o</string>
	<key>025</key>
	<string>/::g</string>
	<key>026</key>
	<string>/:|-)</string>
	<key>027</key>
	<string>/::!</string>
	<key>028</key>
	<string>/::L</string>
	<key>029</key>
	<string>/::&gt;</string>
	<key>030</key>
	<string>/::,@</string>
	<key>031</key>
	<string>/:,@f</string>
	<key>032</key>
	<string>/::-S</string>
	<key>033</key>
	<string>/:?</string>
	<key>034</key>
	<string>/:,@x</string>
	<key>035</key>
	<string>/:,@@</string>
	<key>036</key>
	<string>/::8</string>
	<key>037</key>
	<string>/:,@!</string>
	<key>038</key>
	<string>/:!!!</string>
	<key>039</key>
	<string>/:xx</string>
	<key>040</key>
	<string>/:bye</string>
	<key>041</key>
	<string>/:wipe</string>
	<key>042</key>
	<string>/:dig</string>
	<key>043</key>
	<string>/:handclap</string>
	<key>044</key>
	<string>/:&amp;-(</string>
	<key>045</key>
	<string>/:B-)</string>
	<key>046</key>
	<string>/:&lt;@</string>
	<key>047</key>
	<string>/:@&gt;</string>
	<key>048</key>
	<string>/::-O</string>
	<key>049</key>
	<string>/:&gt;-|</string>
	<key>050</key>
	<string>/:P-(</string>
	<key>051</key>
	<string>/::&apos;|</string>
	<key>052</key>
	<string>/:X-)</string>
	<key>053</key>
	<string>/::*</string>
	<key>054</key>
	<string>/:@x</string>
	<key>055</key>
	<string>/:8*</string>
	<key>056</key>
	<string>/:pd</string>
	<key>057</key>
	<string>/:&lt;W&gt;</string>
	<key>058</key>
	<string>/:beer</string>
	<key>059</key>
	<string>/:basketb</string>
	<key>060</key>
	<string>/:oo</string>
	<key>061</key>
	<string>/:coffee</string>
	<key>062</key>
	<string>/:eat</string>
	<key>063</key>
	<string>/:pig</string>
	<key>064</key>
	<string>/:rose</string>
	<key>065</key>
	<string>/:fade</string>
	<key>066</key>
	<string>/:showlove</string>
	<key>067</key>
	<string>/:heart</string>
	<key>068</key>
	<string>/:break</string>
	<key>069</key>
	<string>/:cake</string>
	<key>070</key>
	<string>/:lI</string>
	<key>071</key>
	<string>/:bome</string>
	<key>072</key>
	<string>/:kn</string>
	<key>073</key>
	<string>/:footb</string>
	<key>074</key>
	<string>/:ladybug</string>
	<key>075</key>
	<string>/:shit</string>
	<key>076</key>
	<string>/:moon</string>
	<key>077</key>
	<string>/:sun</string>
	<key>078</key>
	<string>/:gift</string>
	<key>079</key>
	<string>/:hug</string>
	<key>080</key>
	<string>/:strong</string>
	<key>081</key>
	<string>/:weak</string>
	<key>082</key>
	<string>/:share</string>
	<key>083</key>
	<string>/:v</string>
	<key>084</key>
	<string>/:@)</string>
	<key>085</key>
	<string>/:jj</string>
	<key>086</key>
	<string>/:@@</string>
	<key>087</key>
	<string>/:bad</string>
	<key>088</key>
	<string>/:lvu</string>
	<key>089</key>
	<string>/:No</string>
	<key>090</key>
	<string>/:ok</string>
	<key>091</key>
	<string>/:love</string>
	<key>092</key>
	<string>/:&lt;L&gt;</string>
	<key>093</key>
	<string>/:jump</string>
	<key>094</key>
	<string>/:shake</string>
	<key>095</key>
	<string>/:&lt;O&gt;</string>
	<key>096</key>
	<string>/:circle</string>
	<key>097</key>
	<string>/:kotow</string>
	<key>098</key>
	<string>/:turn</string>
	<key>099</key>
	<string>/:skip</string>
	<key>100</key>
	<string>/:oY</string>
</dict>
</plist>
